*.class

# Package Files #
*.jar
*.war
*.ear

# IntelliJ
.idea
*.iml

# Maven target dirs
engine/target
game/target
d2tm/target
target
graphics/

# Eclipse files
engine/.classpath
engine/.project
engine/.settings*
game/.classpath
game/.project
game/.settings*
d2tm/.classpath
d2tm/.project
d2tm/.settings*
